.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html{
  background-color: #faf9ff;
}
body{
  background-color: #faf9ff;
}
#srch-term{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: white;
  border-right: 0;
}

#searchBtn{
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
  border-left:0 ;
}
.input-group-btn{
  padding-right: 20px;
}

.navbar-form{
  padding-top: 10px;
}
.navElement{
  padding-top: 7px;
  font-weight: 500;
}
.navElement:hover{
  background-color: gray;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

body {
  margin: 0px;
  padding: 0px;
}



.input-group{
  border-radius: 20px;
}


.dropdownButton{
  border: 0;
}

.firstRow{
  background-color: white;
}

.secondRow{
  background-color: white;
}


.shadowButton {
  box-shadow: 2px 2px 2px;
}



body,html{
  height: 100%;
}

/* remove outer padding */
.main .row{
  padding: 0px;
  margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
  border-radius: 0px;
}

nav.sidebar, .main{
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}


/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

  /*Allow main to be next to Nav*/
  .main{
    position: absolute;
    width: calc(100% - 40px); /*keeps 100% minus nav size*/
    margin-left: 40px;
    float: right;
  }

  /*lets nav bar to be showed on mouseover*/
  nav.sidebar:hover + .main{
    margin-left: 200px;
  }

  /*Center Brand*/
  nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }
  /*Center Brand*/
  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }



#bs-sidebar-navbar-collapse-1 ul{
  border-top: 1px solid white;

}
  #bs-sidebar-navbar-collapse-1 ul li a:hover{
    background-color: 	#2E3A4A;
    border-left: 3px solid deepskyblue;
  }
  nav.sidebar .navbar-nav a{
    padding-top: 10px;
    padding-bottom: 10px;

  }

  .nav{
    padding-left: 0;
  }

  /*allows nav box to use 100% width*/
  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
  }

  /*gives sidebar width/height*/
  nav.sidebar{
    width: 100%;
    height: 100%;
    margin-left: -160px;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
  }

  /*give sidebar 100% width;*/
  nav.sidebar li {
    width: 100%;
  }

  /* Move nav to full on mouse over*/
  nav.sidebar:hover{
    margin-left: 0px;
  }
  /*for hiden things when navbar hidden*/
  .forAnimate{
    opacity: 0;
  }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

  /*Allow main to be next to Nav*/
  .main{
    width: calc(100% - 200px); /*keeps 100% minus nav size*/
    margin-left: 200px;
  }

  /*Show all nav*/
  nav.sidebar{
    margin-left: 0px;
    float: left;
  }
  /*Show hidden items on nav*/
  nav.sidebar .forAnimate{
    opacity: 1;
  }
}



nav:hover .forAnimate{
  opacity: 1;
}
section{
  padding-left: 15px;
}


.navbar{
  border-radius: 0;
  padding: 0;
}

