  <div class="col-md-2">
    <p style="font-size: 35px; padding-left: 26px; padding-top: 43px">Overview</p>
  </div>
  <div style="padding-top: 35px" class="col-md-offset-6 col-md-4">
    <div class="row">
      <span style="font-size: 12px">SELECT DATE RANGE</span>
    </div>
    <div style="padding-top: 12px" class="row">
    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
      <span></span> <b class="caret"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
    </div>
    </div>
    <script type="text/javascript">
      $(function() {

        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }

        $('#reportrange').daterangepicker({
          startDate: start,
          endDate: end,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
        }, cb);

        cb(start, end);

      });
    </script>
  </div>

