<div class="row">
  <div style="padding-top: 27px;" class="col-md-5">
    <span style="font-size:22px; padding-left: 16px; font-weight: bold">Cohort Analysis: Leads Conversion</span>
  </div>
  <div style="padding-top: 21px" class="col-md-2 col-md-offset-2 dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">GROUP BY  <span style="padding-left: 5px; font-weight: bold">Months</span>
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
  <div style="padding-top: 21px" class="col-md-2 dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">COHORT SIZE <span style="padding-left: 5px; font-weight: bold">6 Months</span>
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div style="padding-left: 18px; padding-top: 32px" class="col-md-12">
  <table class="table table-bordered table-hover table-condensed table-responsive">
    <thead class="thead-inverse">
    <tr>
      <th>Month </th>
      <th>Leads Acquired </th>
      <th>Month 1 </th>
      <th>Month 2 </th>
      <th>Month 3 </th>
      <th>Month 4 </th>
      <th>Month 5 </th>
      <th>Month 6 </th>
      <th>Month 7 </th>
    </tr>
    </thead>
    <tbody>
    <tr align="center">
    </tr>
    </tbody>
  </table>
  </div>
</div>
