  <div class="col-md-4">
    <div style="background-color: white" class="col-md-12">
    <div class="row">
        Total Leads
    </div>
    <div class="row">
      <nvd3 options="options" data="data"></nvd3>
    </div>
      <div class="row">
        <p>278 Leads this month</p>
      </div>
  </div>
  </div>



  <div  class="col-md-4">
    <div style="background-color: white" class="col-md-12">
    <div class="row">
      <div  class="col-md-6">
        Total Leads
      </div>
      <div class="col-md-6">

      </div>
    </div>
    <div class="row">
      <nvd3 options="options" data="data"></nvd3>
    </div>
    <div class="row">
      <p>15 Converted users this month</p>
    </div>
  </div>
  </div>


  <div  class="col-md-4">
    <div style="background-color: white" class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        Total Leads
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div  class="row">
      <nvd3 options="options" data="data"></nvd3>
    </div>
    <div class="row">
      <p>5160 Customers this month</p>
    </div>
  </div>
  </div>
