<div ng-app="homePage" ng-controller="HomePageCtrl">
  <div class="container-fluid">

    <div class="row">
        <div horizontal-navbar></div>
    </div>


    <div  class="row">
      <div style="padding-left: 0; margin-left: 0;padding-right: 0; margin-right: 0" class="col-md-2 col-xs-12">
        <div navbar></div>
      </div>

      <div style="padding-right: 0; margin-right: 0; padding-left: 0; margin-left: 0" class="col-md-10 col-xs-12">
        <div class="container-fluid">
          <div style="margin-bottom: 3px" class="row firstRow">
            <div first-row-home-page></div>
          </div>
          <div style="background-color: white" class="row">
            <p>FILTER DATA BY SEGMENTS</p>
          </div>
          <div style="padding-bottom: 10px" class="row secondRow">
            <div second-row-home-page></div>
          </div>
          <div style="padding-left:26px ; padding-top:24px " class="row">
            <p style="font-weight: bold; font-size: 12px;">PRODUCT SUMMARY</p>
          </div>
          <div class="row">
            <div home-page-area-charts></div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">Key Metrics</div>
          </div>
          <div class="row">
            <div third-row-home-page></div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
