  <nav style="height: 70px;background-color: #faf9ff;" id="horizontalNav" class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img style="width: 187px; height: 47px; padding-top: 10px; padding-left: 20px" src="images/logo.jpg"/>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="navElement"><a href="">SUPPORT</a> </li>
        <li class="navElement"><a href="">MANUAL</a> </li>
        <li class="navElement"><a href="">NOTIFICATIONS</a> </li>
      <li><form class="navbar-form navbar-right" role="search">
        <div class="input-group add-on">
          <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
          <div class="input-group-btn">
            <button id="searchBtn" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div style="background-color: #323e5f; height: 70px; width: 219px">
            <div style="padding-top: 10px">
            <div class="col-md-9"><span style="color: white; font-size: 14px">Welcome James! <br> Monday, 9th October </span> </div>
            <div class="col-md-2"> <img style="width: 30px; height: 30px; font-size: 14px" src="images/logo.jpg"/> </div></div>
          </div>
        </li>
      </ul>
    </div>
  </nav>

