<div ng-app="leads" ng-controller="LeadsCtrl">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div horizontal-navbar></div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2 col-xs-12">
        <div navbar></div>
      </div>

      <div class="col-md-10 col-xs-12">
        <div class="container-fluid">
          <div style="margin-bottom: 5px" class="row firstRow">
            <div first-row-leads-page></div>
          </div>
          <div style="background-color: white" class="row">
            <p>FILTER DATA BY SEGMENTS</p>
          </div>
          <div style="padding-bottom: 10px" class="row secondRow">
            <div second-row-home-page></div>
          </div>
          <div style="background-color: white; margin-top: 10px" class="row">
            <div third-row-leads-page></div>
          </div>
          <div style="background-color: white; margin-top: 10px" class="row">
            <div fourth-row-leads-page></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
