<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Overview</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <span style="color: white">LEADS AND AUDIENCES &nbsp &nbsp &nbsp &nbsp &nbsp</span>
          <a href="">Leads</a>
          <a href="">Conversions</a>
          <a href="">Audience Insights</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li>
          <span style="color: white">KEY METRICS</span>
          <a href="">Customer Churn Rate</a>
          <a href="">Customer Lifetime Value</a>
          <a href="">Monthly Recurring Revenue</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li>
          <span style="color: white">PRODUCT SUMMARY &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
          <a href="">View All Customers</a>
          <a href="">View All Transactions</a>
      </ul>
    </div>
  </div>
</nav>
