
  <div class="col-md-2">
    <div class="dropdown ">
      <button class="btn btn-default dropdown-toggle dropdownButton" type="button" data-toggle="dropdown">All Locations
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dropdown ">
      <button class="btn btn-default dropdown-toggle dropdownButton" type="button" data-toggle="dropdown">All Devices
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dropdown ">
      <button class="btn btn-default dropdown-toggle dropdownButton" type="button" data-toggle="dropdown">All Channels
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <button class="btn btn-default shadowButton">SAVE SEGMENT</button>
  </div>

  <div class="col-md-4">
    <div class="dropdown ">
      <button style="text-align: left" class="btn btn-default dropdown-toggle btn-block" type="button" data-toggle="dropdown">Select Saved Segments
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </div>
  </div>
