<script>Highcharts.chart('container', {
  chart: {
    type: 'column'
  },
  title: {
    text: 'Monthly Recurring Revenue',
    align:'left'
  },
  xAxis: {
    categories: ['Jan\' 17', 'Feb\' 17', 'Mar\' 17', 'April\' 17', 'May\' 17', 'June\' 17','July\' 17', 'August\' 17', 'September\' 17']
  },
  yAxis: {
    title: {
      text: ''
    },
    stackLabels: {
      enabled: true,
      style: {
        fontWeight: 'bold',
        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
      }
    }
  },
  legend: {
    align: 'right',
    x: 10,
    verticalAlign: 'top',
    floating: true,
    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
    borderColor: '#CCC',
    borderWidth: 1,
    shadow: false
  },
  tooltip: {
    headerFormat: '<b>{point.x}</b><br/>',
    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
  },
  plotOptions: {
    column: {
      stacking: 'normal',
      dataLabels: {
        enabled: true,
        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
      }
    }
  },
  series: [{
    name: 'Gained MRR',
    data: [1500, 1300, 1100, 1500, 1300, 1100]
  }, {
    name: 'MRR (Retained Customers)',
    data: [200, 400, 600,200, 400, 600]
  }, {
    name: 'Churned MRR',
    data: [-500, 600, 200,-500, 600, 200]
  }]
});</script>
<div class="col-md-4">
  <div style="background-color: white" class="row">
Customer Lifetime Value
    <br>
    <br>
  </div>
  <div style="background-color: white; margin-bottom: 10px"  class="row">
    <div class="col-md-6">
      <div class="row">
      <span style="text-align: center; font-size: 20px">$4676</span>
      </div>
      <div class="row">september 2017</div>
    </div>
    <div class="col-md-6">
      <div class="row">
        Increase 23%
      </div>
      <div class="row">
        $3,804
      </div>
      <div class="row">
        <div class="dropdown ">
          <button style="text-align: left" class="btn btn-default dropdown-toggle btn-block" type="button" data-toggle="dropdown">August 2017
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>


  <div style="background-color: white" class="row">
    Customer Churn Rate
    <br>
    <br>
  </div>
  <div style="background-color: white"  class="row">
    <div class="col-md-6">
      <div class="row">
        <span style="text-align: center; font-size: 20px">$4676</span>
      </div>
      <div class="row">september 2017</div>
    </div>
    <div class="col-md-6">
      <div class="row">
        Increase 23%
      </div>
      <div class="row">
        $3,804
      </div>
      <div class="row">
        <div class="dropdown ">
          <button style="text-align: left" class="btn btn-default dropdown-toggle btn-block" type="button" data-toggle="dropdown">August 2017
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>


<div class="col-md-8">
  <div id="container" style="min-width: 310px; height: 400px"></div>
</div>
