<div class="row">
  <div style="padding-top: 27px;" class="col-md-4">
    <span style="font-size:22px; padding-left: 16px; font-weight: bold">Variation of Leads with Time</span>
  </div>
  <div class="col-md-offset-4 col-md-4">
    <div style="padding-top: 18px;padding-right: 17px " class="btn-group pull-right">
      <button type="button" class="btn btn-default active">Daily</button>
      <button type="button" class="btn btn-default">Weekly</button>
      <button type="button" class="btn btn-default">Monthly</button>
    </div>
  </div>
</div>
<canvas id="myChart" width="348" height="100"></canvas>
<script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["sep 1", "sep 2", "sep 3", "sep 4", "sep 5", "sep 6","sep 7", "sep 8", "sep 9", "sep 10", "sep 11", "sep 12"],
      datasets: [{
        label: 'Leads',
        data: [1, 1, 3, 5, 2, 3,1, 1, 3, 5, 2, 3],
        borderColor: [
          'rgb(81,165,222)'
        ],
        borderWidth: 2,
        lineTension:0,
        fill:false,
        boxHeight:2,
        pointRadius:5,
        scaleShowVerticalLines: false
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true,
            stepSize:1,
            intersect: false,
            spanGaps:true
          }
        }],
        xAxes: [{
          gridLines : {
            display : false
          }
        }]
      }
    }
  });
</script>
